@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', serif;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.custom-toast-container {
    width: 400px !important;  /* Mengatur lebar toast */
    height: 80px !important;  /* Mengatur tinggi toast */
    background-color: transparent !important;  /* Menghapus latar belakang putih */
  }
  
  .custom-toast-container .Toastify__toast {
    border-radius: 10px !important;  /* Membulatkan sudut toast */
  }
  
  .custom-toast-container .Toastify__toast-body {
    padding: 0 !important;  /* Menghapus padding default */
    display: flex;
    justify-content: center;
    align-items: center;
  }